<div>
<h3 style="font-size: 125%;text-align: center;">
    <br>
    Register now to be a part of the growing number of APIs available to the public.
</h3>
<div class="bg-img" style="height: 630px;">
  <form  class="container">

    <h1>Register</h1>
    <label for="firstName" style="width:50%;"><b>First Name</b></label>
    <label for="lastName" style="width:50%;"><b>Last Name</b></label>
    <input style="width:45%;" type="text" placeholder="Enter First Name" name="firstName" required>
    <input style="width:50%; margin-left: 5%;" type="text" placeholder="Enter Last Name" name="lastName" required>

    <label for="firstName" style="width:50%;"><b>Username</b></label>
    <label for="lastName" style="width:50%;"><b>Company Name</b></label>
    <input style="width:45%;" type="text" placeholder="Enter Username" name="userName" required>
    <input style="width:50%; margin-left: 5%;" type="text" placeholder="Enter Company Name" name="companyName" required>

    <label for="firstName" style="width:50%;"><b>Password</b></label>
    <label for="lastName" style="width:50%;"><b>Password</b></label>
    <input style="width:45%;" type="password" placeholder="Enter Password" name="userName" required>
    <input style="width:50%; margin-left: 5%;" type="password" placeholder="Re-enter Password" name="passWord" required>

    <label for="eMail"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="eMail" required>

    <label for="companyName"><b>What were you intereted in?</b></label>
    <div style="display: inline;">
      <div >
          <div class="row" style="text-align: center;">
            <div class="col">
                <p><label><input type="checkbox" value="Auto">Evidence of Insurance</label></p>
                
           </div>
            <div class="col">
                <p><label><input type="checkbox" value="Auto">Policy Sales</label></p> 
           </div>
           <!--
           <div class="col">
              <p><label><input type="checkbox" value="Auto">Bind</label></p> 
              <p></p>
           </div>
           -->
          </div>
        </div>
    </div>
    <button type="submit" routerLink="/explore-api" style="background-color: #003087;"  class="btn"> Sign Up</button>
  </form>
</div>
<br>
<div style="text-align:center; font-size: 20px ;">
    Already have an account? Sign in <a href="/login"><u>here</u></a>
  </div>
<br><br>
</div>


