<div class="global_footer">
    <div class="social-web-links">
       <div class="container social-web-links-list">
          
             <ul>
                <li><a href="https://www.farmers.com/site-map/" data-gtm="Farmers_HP_Footer_Sitemap">Sitemap</a></li>
             
                <li><a href="https://www.farmers.com/careers" data-gtm="Farmers_HP_Footer_Careers">Careers</a></li>
             
                <li><a href="https://www.farmers.com/contact-us" data-gtm="Farmers_HP_Footer_Contact">Contact Us</a></li>
             
                <li><a href="https://www.farmers.com/disclaimer/terms-of-use" data-gtm="Farmers_HP_Footer_TermsofUse">Terms of Use</a></li>
             
                <li><a href="https://www.farmers.com/disclaimer/privacy-policy" data-gtm="Farmers_HP_Footer_Privacy">Privacy Policy</a></li>
             
                <li><a href="https://www.farmers.com/companies" data-gtm="Farmers_HP_Footer_Companies">Our Companies</a></li>
             </ul>
          
       </div>
    </div>
    <div class="social-links">
       






<div class="social-web-links-icons">  
      <ul>
        <li>
           <a class="btn" href="https://www.facebook.com/FarmersInsurance" aria-label="Facebook opens in new window" target="_blank">
               <i class="fa fa-facebook"></i>
           </a>
        </li>
      
        <li>
           <a class="btn" href="https://twitter.com/wearefarmers" aria-label="Twitter opens in new window" target="_blank">
               <i class="fa fa-twitter"></i>
           </a>
        </li>
      
        <li>
           <a class="btn" href="http://instagram.com/wearefarmers/" aria-label="Instagram opens in new window" target="_blank">
               <i class="fa fa-instagram"></i>
           </a>
        </li>
      
        <li>
           <a class="btn" href="https://www.linkedin.com/company/farmers-insurance" aria-label="Linkedin opens in new window" target="_blank">
               <i class="fa fa-linkedin"></i>
           </a>
        </li>
      </ul>     
</div>

    </div>
    <div class="farmers-footer-logo">
       <a href="https://www.farmers.com" target="_self">
       <img src="assets/img/Logo_Footer.png" alt="Farmers Logo">
       </a>
    </div>
    <p></p><p>©2018 Farmers</p>
<p></p>
</div>