    <div class="topcontainer">   
        <div class="computer-text-block" style="margin-left: 7%;">
            <p style="font-size:30px; text-emphasis-color: black;">We’re here to help protect what matters most.</p>
            <p style="font-size:18px;"> Explore our APIs that fit all your insurance needs.<p>
              <p style="font-size:18px;"> Plug and play. It is that simple.<p>
                <div class="explorebuttonrow">
                  <div class="explorebuttoncol">
                    <a  type="button" class="btn btn-primary btn-sm" href="/explore-api#explore" style=" background-color: #0529BB; height:60px; width: 130px; font-size: 120%; padding-top: 12%;">Explore APIs</a>
                  </div>
                  <div class="explorebuttoncol">
                  <a type="button" class="btn btn-primary btn-lg" href="/docs#apiinfo" style="background-color: #0529BB; height:60px; width: 150px; font-size: 120%; padding-top: 12%;">Getting Started</a>
                </div>
                </div>
              </div>
    </div> 
    <div class="container">
    <div class="imagerow">
      <div class="imagecol"> 
        <img src="/assets/img/auto.svg" style="height:90px"/>
      </div>
      <div class="imagecol"> 
        <img src="/assets/img/home.svg"  />
      </div>
      <div class="imagecol"> 
        <img src="/assets/img/life.svg" />
      </div>
      <div class="imagecol"> 
        <img src="/assets/img/business-property.svg" style="height:80px" />
      </div>
      <div class="imagecol"> 
        <img src="/assets/img/icon-renters.svg" style="height:80px"/>
      </div>
      <div class="imagecol"> 
        <img src="/assets/img/icon-condo.svg" style="height:80px"/>
      </div>
    </div>
        <br>
        <div class="row">
          <div class="column">
            <h2>Policy</h2>
            <hr class="horizontal-line" >
            <br>
            <br>
            <div class ="description" style="margin-right: 17%;">
              <p>Use farmers insurance policy APIs to provide insurance needs to your customers.</p>
            </div>
            <br>
            <div class="text1"> <p> Buy a policy</p></div> 
            <p style="margin-right: 17%;"> Have a quote? Go ahead to insure with Farmers. </p>
            <div class="text2"><p>Get policy details</p></div>
            <p style="margin-right: 17%;"> Have a Farmers policy? View your policy details here.</p>
          </div>

          <div class="column" >
            <h2>Quote</h2>
            <hr class="horizontal-line" >
            <br>
            <br>
            <div class ="description" style="margin-right: 17%;">
              <p> Enable your customers to obtain a farmers insurance quote. </p>
            </div>
            <br>
              <div class="text1"> <p>Get a quote</p> </div> 
              <p style="margin-right: 17%;"> Get a fast quote for your insurance needs. </p>
              <div class="text2"><p>Retrieve a quote</p></div>
              <p style="margin-right: 17%;"> Access your previously created quotes. </p>
          </div>

          <div class="column">
            <h2>Agent</h2>
            <hr class="horizontal-line" >
            <br>
            <br>
            <div class ="description" style="margin-right: 17%;">
              <p> Intergrate with Farmers Insurance Agent APIs to enable your customers to connect with a farmers agent.</p>
            </div>
            <br>  
              <div class="text1"> <p>Find an agent</p> </div> 
              <p style="margin-right: 17%;"> Find a Farmers agent for your zip code. </p>
              <div class="text2"> <p>Contact an agent</p> </div>
              <p style="margin-right: 17%;">Already know your agent? Access how to contact them. </p>

          </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="column2" >
              <h2>Vehicle</h2>
              <hr class="horizontal-line" >
              <br>
              <br>
              <div class ="description" style="margin-right: 17%;">
                <p> Use vehicle APIs to provide additional auto insurance functionalities.</p>
              </div>
              <br>        
                <div class="text1"> <p>Find a vehicle</p></div> 
                <p style="margin-right: 17%;">Got a new vehicle? check what information we have about your new ride.</p>
                <div class="text2"> <p>Get get a vehicle loss report</p> </div>     
                <p style="margin-right: 17%;">Aceess vehicle damage/loss reports here.</p>
            </div>
            <div class="column" >
              <h2>Billing</h2>
              <hr class="horizontal-line" >
              <br>
              <br>
              <div class ="description" style="margin-right: 17%;">
                <p> Explore how to intergrate with Farmers Insurance Billing APIs.</p>
              </div>
              <br>
                <div class="text1"> <p>Get a billing statement</p> </div>
                <p style="margin-right: 17%;">Check your current or previous billing statements.</p> 
                <div class="text2"> <p>View bill</p> </div>
                <p style="margin-right: 17%;">Check your current or previous billing statements.</p> 
            </div>
            <div class="column" >
              <h2>Claims</h2>
              <hr class="horizontal-line" >
              <br>
              <br>
              <div class ="description" style="margin-right: 17%;">
                <p> Provide an efficient claims process through farmers claims APIs. </p>
              </div>
              <br>
                <div class="text1"> <p>File a claim</p> </div> 
                <p style="margin-right: 17%;">Tell us what happened. File your claims online. </p> 
                <div class="text2"> <p>Retrieve claims</p> </div>
                <p style="margin-right: 17%;">Have previously filed claims? Access them here.</p> 
            </div>
          </div>
    </div>