    <div class="container">   
        <img src="/assets/img/computer.jpg" class="img-fluid" style="width:100%" style="margin-bottom: 5px;"/>  
        <div class="computer-text-block" >
            <p style="font-size:1.2vw; text-emphasis-color: black;">You work hard. So why not play hard?</p>
            <p style="font-size:1.1vw;"> Explore APIs to fit your needs in a simple plug-and-play. It's so easy your grandpa can do it.<p>
                <a type="button" class="btn btn-primary" href="/explore-api#explore" style="margin-left: 20%; background-color: #0529BB;">Explore APIs</a>
        </div>
    </div>

    <div class="container" style="height:600px;  margin-bottom: 20px;">   
        <img src="/assets/img/car.jpg" class="img-fluid" style="width:100%;" />  
        <div class="car-text-block">
            <p style="font-size:1.2vw">Feeling a Little Lost?</p>
            <p style="font-size:1.1vw">Learn how you can make the most of open APIs to use them to their fullest potential for your needs <p>
                <a type="button" class="btn btn-primary" href="/docs#apiinfo" style="margin-left: 20%; background-color: #0529BB;">Getting Started</a>
        </div>
    </div> 