<div id="widget-container"></div>
<span>erewrwe</span>
<!--<script>
  var signIn = new OktaSignIn({baseUrl: 'https://farmersinsurance.okta.com'});
  signIn.renderEl({
    el: '#widget-container'
  }, function success(res) {
    if (res.status === 'SUCCESS') {
      console.log('Do something with this sessionToken', res.session.token);
      //https://farmersinsurance.okta.com/home/farmersinsurance_mulesoftanypoint_1/0oa645p1rtcjk6SLN1t7/aln645ulbvt56NkTf1t7 
    } else {
    // The user can be in another authentication state that requires further action.
    // For more information about these states, see:
    //   https://github.com/okta/okta-signin-widget#rendereloptions-success-error
    }
  });
</script>-->